<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img [src]="client.avatar" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div>
                        <h3> {{client.firstName}} {{client.lastName}}</h3>
                        <h5> {{client.adress}}</h5>
                        <h5> {{client.telephone}}</h5>
                        <h5> {{ client.email}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>