<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2 style="margin-left: 180px;">
                Signup Carer
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-6 ">
                <div class="form_container ">
                    <form [formGroup]="signupAccompagnantForm">
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div>
                                    <input type="text" placeholder="First Name" formControlName="firstName" />
                                </div>
                            </div>
                            <div *ngIf="signupAccompagnantForm.controls['firstName'].invalid && (signupAccompagnantForm.controls['firstName'].touched 
                            || signupAccompagnantForm.controls['firstName'].dirty)">
                                <div *ngIf="signupAccompagnantForm.controls['firstName'].errors.required" class="red">
                                    First Name is required</div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <input type="text" placeholder="Last Name" formControlName="lastName" />
                                </div>

                            </div>
                            <div *ngIf="signupAccompagnantForm.controls['lastName'].invalid && (signupAccompagnantForm.controls['lastName'].touched 
                            || signupAccompagnantForm.controls['lastName'].dirty)">
                                <div *ngIf="signupAccompagnantForm.controls['lastName'].errors.required" class="red">
                                    Last Name is required</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div>
                                    <input type="tel" placeholder="Telephone" formControlName="telephone" />
                                </div>
                            </div>
                            <div *ngIf="signupAccompagnantForm.controls['telephone'].invalid && (signupAccompagnantForm.controls['telephone'].touched 
                            || signupAccompagnantForm.controls['telephone'].dirty)">
                                <div *ngIf="signupAccompagnantForm.controls['telephone'].errors.required" class="red">
                                    Telephone is required</div>
                                <div *ngIf="signupAccompagnantForm.controls['telephone'].errors.pattern" class="red">
                                    Telephone must have 8 numbers</div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <input type="text" placeholder="Adress" formControlName="adress" />
                                </div>
                            </div>
                            <div *ngIf="signupAccompagnantForm.controls['adress'].invalid && (signupAccompagnantForm.controls['adress'].touched 
                            || signupAccompagnantForm.controls['adress'].dirty)">
                                <div *ngIf="signupAccompagnantForm.controls['adress'].errors.required" class="red">
                                    Adress is required</div>
                            </div>
                        </div>
                        <div>
                            <input type="number" placeholder="Experience" formControlName="experience" />
                        </div>
                        <div *ngIf="signupAccompagnantForm.controls['experience'].invalid && (signupAccompagnantForm.controls['experience'].touched 
                        || signupAccompagnantForm.controls['experience'].dirty)">
                            <div *ngIf="signupAccompagnantForm.controls['experience'].errors.required" class="red">
                                Experience is required</div>
                            <div *ngIf="signupAccompagnantForm.controls['experience'].errors.min" class="red">
                                Experience must have at least 0 year</div>
                            <div *ngIf="signupAccompagnantForm.controls['experience'].errors.max" class="red">
                                Experience must have at least 25 years</div>
                        </div>
                        <div>
                            <input type="email" placeholder="Email" formControlName="email" />
                        </div>
                        <div *ngIf="signupAccompagnantForm.controls['email'].invalid && (signupAccompagnantForm.controls['email'].touched 
                        || signupAccompagnantForm.controls['email'].dirty)">
                            <div *ngIf="signupAccompagnantForm.controls['email'].errors.required" class="red">
                                Email is required</div>
                            <div *ngIf="signupAccompagnantForm.controls['email'].errors.email" class="red">
                                Email must have a format email</div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div>
                                    <input type="password" placeholder="Password" formControlName="password" />
                                </div>
                            </div>
                            <div *ngIf="signupAccompagnantForm.controls['password'].invalid && (signupAccompagnantForm.controls['password'].touched 
                        || signupAccompagnantForm.controls['password'].dirty)">
                                <div *ngIf="signupAccompagnantForm.controls['password'].errors.required" class="red">
                                    Password is required</div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <input type="password" placeholder="Confirm Password"
                                        formControlName="confirmPassword" />
                                </div>
                            </div>
                            <div *ngIf="signupAccompagnantForm.controls['confirmPassword'].invalid && (signupAccompagnantForm.controls['confirmPassword'].touched 
                        || signupAccompagnantForm.controls['confirmPassword'].dirty)">
                                <div *ngIf="signupAccompagnantForm.controls['confirmPassword'].errors.mustMatch"
                                    class="red">
                                    Confirm Password does not mutch Password</div>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top: -60px;">
                            <div class="col-md-5" style="margin-left: 20px;">
                                <div style="visibility: hidden;">
                                    <input type="file" #filePicker (change)="onImageSelected($event)">
                                </div>
                                <div class="form-group">
                                    <button (click)="filePicker.click()">Please select your avatar </button>
                                </div>
                            </div>
                            <img [src]="imagePreview" *ngIf="imagePreview" height="200px" width="200px">

                            <div class="col-md-5" style="margin-left: 70px;">
                                <div style="visibility: hidden;">
                                    <input type="file" #fileCv (change)="onCvSelected($event)">
                                </div>
                                <div class="form-group">
                                    <button (click)="fileCv.click()">Please select your cv</button>
                                </div>
                            </div>
                            <iframe [src]="cvPreview |safe" *ngIf="cvPreview" height="200px" width="200px"></iframe>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary py-3 px-5" (click)="signup()">Signup</button>
                        </div>
                        <p class="red" style="text-align: center;">{{msg}}</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-row">
                    <img src="assets/images/formImg.jpg" alt="" style="height: 480px; width: 700px;">
                </div>
            </div>
        </div>
    </div>
</section>